body {
    margin: 0;
    padding: 0;
}
.preview {
    position: relative;
    margin: auto;
    width: 375px;
    outline: none;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 20px;
}
/* 代码块滚动条 */
#wenyan .hljs::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff
}
#wenyan .hljs::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan .hljs::-webkit-scrollbar {
    height: 6px;
    background-color: #fff
}
.invisible {
    position: absolute;
    left: -9999px;
}

#gzhThemeSelector li span:first-child {
    cursor: default;
}

#gzhThemeSelector li[id^="customTheme"] span:first-child {
    cursor: text;
    padding: 2px 4px;
    border-radius: 3px;
}

#gzhThemeSelector li[id^="customTheme"] span:first-child:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#gzhThemeSelector li[id^="customTheme"] input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}